@media (max-width:862px) {
    .div-table {
        width: 90%;
    }
    .div-column-gold {
        background-size: cover;
    }
    .mobile {
        display: block;
    }
}

@media (max-width:734px) {
    .desktop-white-section {
        min-height: 100px;
    }
}

@media (max-width:634px) {
    .desktop-top {
        width: 90%;
    }
    .desktop-white-section {
        min-height: 90px;
    }
    .div-column-white p,
    .star,
    .number {
        font-size: 15px;
    }
    .t {
        font-size: 10px!important;
        padding: 0px;
    }
    .div-column-gold {
        padding: 5px;
    }
}

@media (max-width:500px) {
    .desktop-top {
        width: 90%;
    }
    .desktop-white-section {
        min-height: 70px;
    }
    .div-column-gold {
        background-size: contain;
    }
}